In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                              title  year
0                                 8  2007
1                            Romans  2016
2                       Ultra-Toxic  2005
3                     The Candy Man  1969
4  Friends & Lovers: The Ski Trip 2  2008

In [4]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                    title  year     name   type                character     n
0         Suuri illusioni  1985   Homo $  actor                   Guests  22.0
1     Battle of the Sexes  2017  $hutter  actor          Bobby Riggs Fan  10.0
2    Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan   NaN
3              Steve Jobs  2015  $hutter  actor  1988 Opera House Patron   NaN
4  Straight Outta Compton  2015  $hutter  actor              Club Patron   NaN

### Using groupby(), plot the number of films that have been released each decade in the history of cinema.

In [5]:
titles['decade'] = titles.year//10*10
titles.groupby('decade').size()

decade
1890        2
1900       36
1910     6452
1920     8750
1930    10043
1940     8472
1950    12602
1960    17347
1970    18489
1980    20060
1990    22058
2000    38467
2010    66965
2020      139
dtype: int64

### Use groupby() to plot the number of "Hamlet" films made each decade.

In [6]:
titles[titles.title=='Hamlet'].groupby(titles.decade).size()

decade
1910    3
1920    1
1940    1
1950    1
1960    2
1970    2
1980    1
1990    2
2000    2
2010    4
dtype: int64

### How many leading (n=1) roles were available to actors, and how many to actresses, in each year of the 1950s?

In [7]:
cast['decade'] = cast.year // 10 * 10
cast[(cast.n==1) & (cast.decade==1950)].groupby(['year','type']).size()

year  type
1950  actor      618
      actress    278
1951  actor      644
      actress    279
1952  actor      602
      actress    290
1953  actor      654
      actress    298
1954  actor      637
      actress    307
1955  actor      629
      actress    280
1956  actor      640
      actress    302
1957  actor      726
      actress    300
1958  actor      703
      actress    292
1959  actor      710
      actress    314
dtype: int64

### In the 1950s decade taken as a whole, how many total roles were available to actors, and how many to actresses, for each "n" number 1 through 5?

In [8]:
cast[(cast.decade==1950) & (cast.n<=5)].groupby(['type','n']).size()

type     n
actor    1.0    6563
         2.0    4530
         3.0    5538
         4.0    5548
         5.0    5568
actress  1.0    2940
         2.0    4519
         3.0    3129
         4.0    2828
         5.0    2525
dtype: int64

### Use groupby() to determine how many roles are listed for each of the Pink Panther movies.

In [9]:
cast[(cast.title.str.contains('Pink Panther'))].groupby('title').size()

title
Curse of the Pink Panther          67
Revenge of the Pink Panther        64
Son of the Pink Panther            46
The Pink Panther                  108
The Pink Panther 2                 82
The Pink Panther Strikes Again     73
The Return of the Pink Panther     30
Trail of the Pink Panther          40
dtype: int64

### List, in order by year, each of the films in which Frank Oz has played more than 1 role.

In [10]:
casts = cast[cast.name=='Frank Oz'].groupby(['year', 'title']).size()
casts[casts > 1]

year  title
1979  The Muppet Movie                        8
1981  An American Werewolf in London          2
      The Great Muppet Caper                  6
1982  The Dark Crystal                        2
1984  The Muppets Take Manhattan              7
1985  Follow That Bird                        3
1992  The Muppet Christmas Carol              7
1996  Muppet Treasure Island                  4
1999  Muppets from Space                      4
      The Adventures of Elmo in Grouchland    3
dtype: int64

### List each of the characters that Frank Oz has portrayed at least twice.

In [11]:
casts = cast[cast.name=='Frank Oz'].groupby(['character']).size()
casts[casts > 1]

character
Animal            6
Bert              3
Cookie Monster    3
Fozzie Bear       4
Grover            2
Miss Piggy        6
Sam the Eagle     5
Yoda              7
dtype: int64